//Color vaiables

$white-color:#fff;
$base-bgcolor:#90CAD6;
$base-font-color:#485456;
$base-font-color_secondary:#313b3d;
$gray-color:#F4F5F7;
$btn-primary:#9FA7B0;
$btn-primary-hover:#87919C;
$btn-secondary:#368393;
$btn-secondary-hover:#276774;

$transparent-black:rgba(0,0,0,0.4);
$transparent-white:rgba(255,255,255,0.4);

// Typography Variables

$base-font-family: "Lato",Helvetica,Arial,sans-serif;
$base-font-size: 15px;
$base-line-height: 1.4;
$base-size: 5px;

$normal-font:normal;
$medium-font:600;
$bold-font:bold;

$full-size:100%;


//Misc Variables

$break-mobile: 767px;
$break-tab: 1024px;
$break-tab2: 991px;

$shadow:inset 0 1px 4px $transparent-black;
